/* ReadMore.css */

/* Set initial styles for the paragraph element */
.read-more-text {
    overflow: hidden;
    max-height: 150px;
    transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
  }
  
  /* Styles for the expanded (full) state */
  .full-text {
    max-height: 1000px;
    transition: max-height 1s ease-in-out;
  }
  