/* Estilos para el contenedor principal */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Estilos para el título */
  h2 {
    text-align: center;
    color: #333;
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  /* Estilos para los párrafos */
  p {
    font-size: 16px;
    line-height: 1.6;
    color: #555;
    text-align: justify;
    margin-bottom: 20px;
  }
  


  


  